*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: hsl(185, 75%, 39%);
  /*Organizing the background circles*/
  background-image: url("./images/bg-pattern-bottom.svg"),url("./images/bg-pattern-top.svg");
  background-position: top 50vh left 50vw, bottom 40vh right 52vw;
  background-repeat: no-repeat;
}
.container{ /*Space of the blocks that constitude the profile card*/
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.box_1{ /*Pattern block*/
  /*Dimensions and style*/
  width: 420px;
  height: 150px;
  border-radius: 20px 20px 0px 0px;
  /*Position settings*/
  position: relative;
  top: 65px;
  /*Background settings*/
  background-image: url(./images/bg-pattern-card.svg);
  background-size: cover;
}
.box_2{ /*Photo block*/
  /*Dimensions*/
  width: 130px;
  height: 130px;
  /*Position*/
  position: relative;
  z-index: 1;
  /*Block style: circle style*/
  border-radius: 75px;
  border: solid 5px white;
  /*Background settings*/
  background-image: url(./images/image-victor.jpg);
  background-size: cover;
}
.box_3{ /*Data block*/
  /*Dimensions*/
  width: 420px;
  height: 180px;
  /*Position*/
  position: relative;
  bottom: 65px;
  /*Style*/
  background-color: white;
  /*Text settings*/
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box_4{ /*Stats block*/
  /*Dimensions*/
  width: 420px;
  height: 108px;
  /*Position*/
  position: relative;
  bottom: 65px;
  /*Style*/
  background-color: white;
  border-top: solid 1px hsla(42, 1%, 88%, 1);
  border-radius: 0px 0px 20px 20px;
  /*Text settings*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.stats{ /*Stats style*/
  list-style: none;
  display: flex;
}
.it{ /*Middle stat margin*/
  margin: 0px 60px 0px 60px;
}
.name{ /*User name typography-style*/
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 25px;
  margin-top: 60px;
  color: hsl(229, 23%, 23%);
}
.age{ /*User age typography-style*/
  font-weight: 300;
  font-size: 25px;
  margin-left: 5px;
  color: hsl(227, 10%, 46%);
}
.geo{ /*User location typography-style*/
  margin-top: 18px;
  font-family: "Kumbh Sans";
  font-weight: 300;
  font-size: 20px;
  color: hsl(227, 10%, 46%);
}
.num{ /*User stats typography-style*/
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-size: 22px;
  color: hsl(229, 23%, 23%);
}
.det{ /*User stats details typography-style*/
  margin-top: 6px;
  font-family: "Kumbh Sans";
  font-weight: 300;
  font-size: 14px;
  color: hsl(227, 10%, 46%);
  letter-spacing: 1px;
}
li{ /*Stats position in the block*/
  text-align: center;
}
@media(max-width: 1024px){
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
  }
  .container{
    display: flex;
    justify-content: center;
    height: 100%;
  }
}
